doctype
html
  head
    meta(charset='UTF-8')
    title= title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='/main.css')
    link(rel='stylesheet' href='fullcalendar/main.css')
    link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    script(type="text/javascript" src='js/roll.js')
    script(type="text/javascript" src='js/data.js')
    script(type="text/javascript" src='js/cal.js')
    script(type="text/javascript" src='js/code.js')
    script(type="text/javascript" src='fullcalendar/main.js')
    script(type="text/javascript" src='fullcalendar/locales-all.js')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src='https://code.jquery.com/ui/1.13.1/jquery-ui.js')
  body
    .container
      p
      .twit
        .head-logo
          .logo-img
            a(href='https://www.cku.ac.kr/sites/cku/index.do' target='_blank')
              img(src='images/logo.png' alt='홈으로')
      .profile-wrap
        .profile
          if user && user.id
            p
            .user-name= '안녕하세요! ' + user.nick + '님'
            p
            input#my-id(type='hidden' value=user.id)
            a#home.btn(href='/') 홈으로
            a 
            a#my-profile.btn(href='/profile') 마이페이지
            a 
            a#logout.btn(href='/auth/logout') 로그아웃
            p 
          else
            form#login-form(action='/auth/login' method='post')
              .input-group
                label(for='id') ID
                input#email(type='text' name='id' placeholder='학생번호' required autofocus)
              .input-group
                label(for='password') PW
                input#password(type='password' name='password' placeholder='생년월일 6자리' required)
              if loginError
                .error-message= loginError
              button#login.btn(type='submit') 로그인
      block content
